/*
p { 
  margin: 0.1em 0.5em;
}
*/

body { 
  margin: 0;
  padding: 0;
  background-color: black; 
}

#gameContainer {
  margin: 2vh 2vw;
  background-color: white;
  border: 1vh double black;
  height: 55em; 
  box-shadow: 0.5em 0.1em 1em 0.1em cyan, -0.1em -0.1em 1em 0.1em magenta;
}

/*
.frame {
  position: absolute;
  top: 0;
  display: flex;
  
  background-color: #aaf;
  border-radius: 0.2em;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid blue;
}
*/

.draggable p {
  padding-top: 0.6em;
}

.box {
/*  flex: 1;*/
  border-radius: 0.2em;
  border: 1px solid blue;
}

/*
.box p {
  margin:0;
}
*/

.tools {
  border-radius: 0.2em;
  background-color: #fff;
  margin: 0.1em;
  flex: none;
  border: 1px solid blue;
  width: 19em;
  height: 5em;
}

.descriptionBox {
  display: inline-block;
  vertical-align: top;
  border-radius: 0.2em;
  background-color: #fff;
  margin: 0.1em;
  padding: 0.1em 0.5em;
/*  flex: none;*/
  border: 1px solid blue;
  width: 19em;
  height: 5em;
}

#productionSlots {
  width: 25em
}

#stats {
  margin: 0.1em;
  border: 1px solid red;
  position: absolute;
  left: 25.1em;
  top: 0;
  width: 50em;
  height: 90%;
}

.workLocFrame {
  display: inline-block;
  border: 1px solid red;
}

.slot {
  display: inline-block;
  margin: 0.1em;
}

.descriptionBoxP {
  
  padding: 0;
  margin: 0;
}