:root {
  font-family: sans-serif;
}

#gameContainer {
  width: 30em;
}

#gameClock {
  animation-name: tick;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes tick {
  from {}
  to {}
}

p {
  margin: 0
}

.debug {
  border: 0.1em solid red;
}

#deviceFrame {
  min-height: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

#resources {
/*  border: 0.1em solid black;*/
  margin-bottom: 1em;
}

#deviceName {
/*  border: 0.1em solid black;*/
}

#deviceSummary {
/*  border: 0.1em solid black;*/
}

#deviceBar {
  border: 0.1em solid rgba(0,0,0,0.1);
  width: 100%;
  height: 0.3em
}
#deviceBarInner {
  background-color: springgreen;
  width: 0;
  height: 100%;
  
  animation-name: fillBar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}


#deviceDetails {
/*  border: 0.1em solid black;*/
  width: 100%;
}

#log {
  border: 1px solid black;
  height: 8em;
  border-radius: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0.5em
}
#log ul li {
  padding: 0;
  margin: 0;
  
  animation-name: logFade;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes logFade {
  from {
    color: black;
  }
  to {
    color: grey;
  }
}

.actionButton {
  border: 0.1em solid black;
  border-radius: 1em;
  padding: 1em;
  user-select: none;
}

.actionButton.oneTime{
  border-color: brown;
}
.actionButtonFill {
/*  position: relative;*/
  background-color: lightgray;
  width: 100%;
  height: 5px;
  padding: 0;
/*  border: 0.1em solid red;*/
  

}
.actionButtonFillInner {
  padding: 0;
  margin: 0;
  background-color: blue;
  width: 5px;
  height: 100%;
  
  animation-name: fillBar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-play-state: running;
}

.actionButton:active {
  background-color: rgba(0,255,0,0.25);
}

.upgradeText {
  user-select: none;
}
.upgradeText:active {
  color: green;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
    /* SET WIDTH BACK TO 100% WHEN IT WON'T BURN MY LEGS */
  }
}