/*
p { 
  margin: 0.1em 0.5em;
}
*/

body { 
  margin: 0;
  padding: 0;
  background-color: black; 
}

#gameContainer {
  margin: 2vh 4vw;
  background-color: white;
  border: 1vh double black;
/*  width: 48em;*/
  height: 30em; 
  box-shadow: 0.5em 0.1em 1em 0.1em cyan, -0.1em -0.1em 1em 0.1em magenta;
}

/*
.frame {
  position: absolute;
  top: 0;
  display: flex;
  
  background-color: #aaf;
  border-radius: 0.2em;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid blue;
}
*/

.slot {
  border: 0.5em solid #9ef;
  border-radius: 1em;
  width: 5em;
  height: 5em;
  margin: 0.1em;
  background-color: #abe;
  flex: none;
}

.draggable {
  box-shadow: inset 0px 0px 5px 5px blue;
  background-color: #08f;
  height: 100%;
  border-radius: 0.5em;
}


.draggable p {
  color: white;
  font-family: sans-serif;
  padding-top: 0.6em;
  margin: 0;
  text-align: center;
}

.box {
/*  flex: 1;*/
  border-radius: 0.2em;
  border: 1px solid blue;
}

/*
.box p {
  margin:0;
}
*/

.tools {
  border-radius: 0.2em;
  background-color: #fff;
  margin: 0.1em;
  flex: none;
  border: 1px solid blue;
  width: 19em;
  height: 5em;
}

.descriptionBox {
  display: inline-block;
  vertical-align:top;
  border-radius: 0.5em;
  background-color: #fff;
  margin: 0.1em;
  padding: 0.1em 0.5em;
/*  flex: none;*/
  border: 0.5em solid #9ef;
  width: 19em;
  min-height: 4.8em;
}

#productionSlots {
  width: 25em
}

#stats {
  margin: 0.1em;
  border: 1px solid red;
  position: absolute;
  left: 25.1em;
  top: 0;
  width: 50em;
  height: 90%;
}

.workLocFrame {
  display: inline-block;
/*  border: 1px solid red;*/
}

.slot {
  display: inline-block;
  margin: 0.1em;
}

.descriptionBoxP {
  
  padding: 0;
  margin: 0;
}

.points {
  position: absolute;
  top: 0em;
  right: 5em;
}