#main {
  background-color: cornflowerblue;
  color: white;
  min-height: 24em;
  border-radius: 2%
}

.box {
  background-color: cornflowerblue;
  color: white;
  min-height: 1em;
  border-radius: 3%;
  border: 1px solid white;
}

.debug {
  border: 2px dashed red;
}

.flex-container {
  display: flex;
  padding: 0.25em;
}
.flex-child {
  flex: 1;
}

.bar-holder {
  background-color: aquamarine;
  
/*  min-height: 1em;*/
  width: 40%;
  flex: 1;
}

.bar {
  height: 100%;
}



.bar.full {
  animation: myFill 1s infinite;
  animation-timing-function: ease-in-out;
/*  animation-direction: alternate;*/
}

@keyframes myFill { 
  from {
    background-color: black;
    width: 0%;
  }
  
  12% { background-color: red; }
  24% { background-color: orange; }
  36% { background-color: yellow; }
  48% { background-color: green; }
  60% { background-color: blue; }
  72% { background-color: indigo; }
  84% { background-color: violet; }
  
  to {
    background-color: white;
    width: 100%;
  }
}

#button1 {
  flex-basis: 1em;
  margin-right: 0.2em;
}

.barButton {
  flex-basis: 1em;
  margin-right: 0.2em;
}