.grid-container {
  width: 160px;
  height: auto;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  justify-content: space-around;
  align-content: space-around;
  
  border: 1px dotted blue;
  border-radius: 10%;
  background: #384a52;
}


.grid-item {
  position: relative;
  border: 1px dotted red;
  border-radius: 30%;
  margin: 1px 0px;
  background: white;
}

.grid-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  width: 500px;
  position: relative;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  
  background-color: #aaa;
  border: 5px solid #888;
  overflow:hidden;
  border-radius: 1%;
}

.map-cell {
  background: #ccc;
  border: 1px dotted #bbb;
  margin: 0;
  border-radius: 10%;
}

.map-cell:hover {
  border: 3px solid blue;
  transition: 0.3s;
}

.map-cell[data-traversable=false]{
  background: #f00
}

#player {
  font-size: 38px;
  font-family: fantasy;
  text-align: center;
}